<div class="row justify-content-between mt-4 pt-3">
  <h2 class="col-auto fs-5 fw-light mt-2">Llistat Pressupostos</h2>
  <form class="col-auto form-group">
    <div class="row">
      <div class="col-auto">
      <input class="form-control" type="text" name="filtrarPresu" placeholder="Buscar pressupost..." [(ngModel)]="filtrarPresu"/>
    </div>
    <div class="col-auto">
    <label class="label-form mt-2"><i class="bi bi-search"></i></label>
  </div>
  </div>
  </form>
  <div class="col-auto d-flex gap-lg-3 gap-md-2 gap-sm-1">
    <button
      (click)="ordreAZ()"
      title="Ordenar per client"
      type="button"
      class="btn btn-light px-3"
    >
      <i class="bi bi-filter"></i>
    </button>
    <button
      (click)="ordreData()"
      title="Ordenar per data"
      type="button"
      class="btn btn-light px-3"
    >
      <i class="bi bi-calendar2-date"></i>
    </button>
    <button
      (click)="resetOrdre()"
      title="Reinicialitzar ordre"
      type="button"
      class="text-danger btn btn-light px-3"
    >
      <i class="bi bi-arrow-clockwise"></i>
    </button>
  </div>
</div>
<hr />
<div class="row shadow-sm p-4" id="optionsBox">
  <div class="col">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Nom Pressupost</th>
          <th scope="col">Client</th>
          <th scope="col">Serveis</th>
          <th scope="col">Total</th>
          <th scope="col">Data</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let llista of pressupostosLlistat | pipebuscar:filtrarPresu">
          <th scope="row">{{ llista.id }}</th>
          <td>{{ llista.presuNom }}</td>
          <td>{{ llista.client }}</td>
          <td>{{ llista.servei }}</td>
          <td>{{ llista.total | number:'1.0-2':'es' }} €</td>
          <td>{{ llista.data | date:'shortDate':'es' }}</td>
          <td>
            <span
              type="button"
              title="Esborrar Pressupost"
              class="bi bi-trash2-fill text-secondary"
              (click)="esborrarPresu(llista.id)"
            ></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
