.panellClass {
    width: 500px;
    padding: 1.5em 1em 1em 2em;
    margin: 1em;
    border: 1px solid rgb(116, 116, 116);
    border-radius: 20px;
}
.panellClass input {
    width: 45px;
    border: none;
}
.panellClass button {
  background-color: rgb(231, 126, 93);
}
/* Treiem fletxes input tipus number */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}