<div class="panellClass">
  <div class="form-group row g-2 align-items-center">
    <div class="col-auto">
      <label for="labelPag" class="col-form-label">Número de pàgines: </label>
    </div>
    <div class="col-auto">
      <input type="number" class="form-control" id="labelPag" />
    </div>
    <div class="row g-2 align-items-center">
      <div class="col-auto">
        <label for="labelIdiomes" class="col-form-label"
          >Número d'idiomes:
        </label>
      </div>
      <div class="col-auto">
        <input type="number" class="form-control" id="labelIdiomes" />
      </div>
    </div>
  </div>
</div>
