<div class="panellClass">
  <form class="form-group row g-2" [formGroup]="panellFormulari">
    <div class="col-auto">
      <label for="labelPag" class="col-form-label">Número de pàgines: </label>
    </div>
    <div class="col-auto">
      <input
        type="number"
        class="form-control"
        formControlName="pagControl"
        id="labelPag"
        (change)="totalWebOpcions()"
        (change)="onPropagar()"
      />
      <span class="form-text text-danger" *ngIf="campEsValid('pagControl')">
        Mínimo 1 página
      </span>
    </div>
    <div class="row g-2">
      <div class="col-auto">
        <label for="labelIdiomes" class="col-form-label"
          >Número d'idiomes:
        </label>
      </div>
      <div class="col-auto">
        <input
          type="number"
          class="form-control"
          formControlName="idiomaControl"
          id="labelIdiomes"
          (change)="totalWebOpcions()"
          (change)="onPropagar()"
        />
        <span
          class="form-text text-danger"
          *ngIf="campEsValid('idiomaControl')"
        >
          Mínimo 1 página
        </span>
      </div>
    </div>
  </form>
</div>
