.panellClass {
  width: 400px;
  padding: 1.5em 1em 1.2em 2em;
  margin: 1em 0;
  border-radius: 20px;
  background-color: rgb(246, 243, 240);
}
.panellClass input {
  width: 45px;
  border: none;
}
.panellClass button {
  background-color: rgb(231, 126, 93);
}

.panellClass span {
  padding-left: 5em;
}
/* Treiem fletxes input tipus number */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
