<div class="panellClass">
  <div class="form-group row g-2 align-items-center">
    <div class="col-auto">
      <label for="labelPag" class="col-form-label">Número de pàgines: </label>
    </div>
    <div class="col-auto">
      <input
        type="number"
        class="form-control"
        id="labelPag"
        (change)="totalWebOpcions(1,2)"
      />
    </div>
    <div class="row g-2 align-items-center">
      <div class="col-auto">
        <label for="labelIdiomes" class="col-form-label"
          >Número d'idiomes:
        </label>
      </div>
      <div class="col-auto">
        <input
          #valorIdiomes
          type="number"
          class="form-control"
          id="labelIdiomes"
          (change)="totalWebOpcions(2,3)"
        />
      </div>
    </div>
  </div>
</div>
