<div class="row p-5">
  <div class="col">
    <div class="col">
      <h1>Pressupost Web</h1>
      <h2 class="fs-5 fw-light">Toni Machado - Sprint 7 - ANGULAR</h2>
      <hr />
    </div>

    <h3 class="fs-5 pb-3">¿Què vols fer?</h3>

    <form class="form-check needs-validation">
      <input
        type="checkbox"
        class="form-check-input"
        (change)="checkWeb($event)"
        value="web"
      />
      <label class="form-check-label"> Una pàgina web (500€)</label> <br />

      <!-- Component Panell condicionat a activar check Pàgina Web -->
      <ng-template [ngIf]="webActive">
        <app-panell
          (propagar)="onTotalWebServ($event)"
          [checkSub]="faltenDades"
        ></app-panell>
      </ng-template>

      <input
        type="checkbox"
        class="form-check-input"
        (change)="checkSeo($event)"
        value="seo"
      />
      <label class="form-check-label">
        Una consultoria <em>SEO</em> (300€)</label
      >
      <br />
      <input
        type="checkbox"
        class="form-check-input"
        (change)="checkAds($event)"
        value="pub"
      />
      <label class="form-check-label">
        Una campanya de <em>Google Ads</em> (200€)</label
      >
      <br />
      <span
        *ngIf="totalPresu < 1 && faltenDades"
        class="form-text text-danger mt-2"
      >
        *Selecciona al menys 1 servei
      </span>
      <br />

      <br />
      <p class="fw-bold pb-1 fs-5">
        Preu: {{ totalPresu | number: "1.0-2":"es" }} €
      </p>
    </form>
    <hr />

    <!-- Formulari Pressupost / Nom Client -->

    <form class="mt-4 form-group" [formGroup]="presuClientFormulari">
      <div class="mb-4 row">
        <label class="form-label col-4"> Pressupost: </label>
        <div class="col-sm-8">
          <input class="form-control" type="text" formControlName="presuForm" />
        </div>
        <span
          class="form-text text-danger"
          *ngIf="campEsValid('presuForm') && faltenDades"
        >
          *Camp obligatori - Mínim 3 caràcters
        </span>
      </div>
      <div class="mb-4 row">
        <label class="form-label col-4"> Nom Client: </label>
        <div class="col-sm-8">
          <input class="form-control" type="text" formControlName="nomForm" />
        </div>
        <span
          class="form-text text-danger"
          *ngIf="campEsValid('nomForm') && faltenDades"
        >
          *Camp obligatori - Mínim 3 caràcters
        </span>
      </div>
    </form>

    <hr />

    <!-- Botons Guardar Presu / Inici -->
    <div class="row mt-2 mx-3 d-flex justify-content-between">
      <button
        class="btn btn-primary px-4 me-5 col-auto"
        (click)="submitPresu()"
      >
        Guardar
      </button>
      <button
        class="btn btn-outline-secondary px-4 col-auto"
        routerLink=""
        routerLinkActive="router-link-active"
      >
        Inici
      </button>
    </div>
  </div>
  <div class="col-xl-7">
    <app-pressupost-list></app-pressupost-list>
  </div>
</div>
